
<div class="container">

        <p id="notice"></p>


        <h2>Sign up</h2>

<form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="p2wkOn4S0m0DfSJDXejYhNTeZ/atngOxnTYiXW3FFJi3OOoLzSYyMhY4xUXtBw2/cPcsrqq64Cz9rQMMBzp64w==">
  


  <div class="field">
    <label for="user_name">Name</label><br>
    <input autofocus="autofocus" class="name" type="text" name="user[name]" id="user_name">
  </div>

  <div class="field">
    <label for="user_email">Email</label><br>
    <input autofocus="autofocus" class="email" type="email" value="" name="user[email]" id="user_email">
  </div>

  <div class="field">
    <label for="user_password">Password</label>
    <em>(6 characters minimum)</em>
    <br>
    <input autocomplete="off" class="password" type="password" name="user[password]" id="user_password">
  </div>

  <div class="field">
    <label for="user_password_confirmation">Password confirmation</label><br>
    <input autocomplete="off" class="password_confirm" type="password" name="user[password_confirmation]" id="user_password_confirmation">
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Sign up" class="btn btn-success" data-disable-with="Sign up">
  </div>
</form>
  <a class="sign_in" href="/users/sign_in">Log in</a><br>
</div>